<div class="modal-header">
  <h3>Chatty Screen Name</h3>
</div>
<div class="modal-body">
  <input type="text" class="span4" placeholder="Enter your screen name">
</div>
<div class="modal-footer">
  <a id="done" href="#" class="btn btn-primary">Done</a>
</div>